# Python
__pycache__/

# Results
version1/docId_url_dict/
version1/partial_indx_0512/
version1/partial_indx_0513/
version1/inverted_indx_0512/
version1/inverted_indx_0513/
version1/reports/
version2/partial_indexes0518
version2/docId_url_dict

# Given Directories
ANALYST/
DEV/

# misc
.vscode/