appdirs==1.4.3
astroid==2.3.3
beautifulsoup4==4.9.0
bitstring==3.1.7
cbor==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.9
ijson==3.0.4
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.5
pylint==2.4.4
readerwriterlock==1.0.6
regex==2020.5.7
requests==2.23.0
six==1.14.0
soupsieve==2.0
spacetime==2.1.1
tqdm==4.46.0
typing-extensions==3.7.4.2
urllib3==1.25.9
virtualenv==20.0.18
Werkzeug==1.0.1
wrapt==1.11.2
